.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--3);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-primary);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 100px;
}

a.ctaLink:hover,
a.ctaLink:active {
  background-color: var(--color-primary--darker);
}
